<div class="new-post-button-parent">
  <span>¿Buscas algo diferente?  </span>
  <%= link_to "Crea tu propio post",
              new_post_path(branch: branch),
              :class => "new-post-button" %>
</div>
