<li id="comida">
  <%= link_to comida_posts_path do %>
    <i class="fa fa-birthday-cake" ></i> Lee sobre comida
  <% end %>
</li>

<li id="perros">
  <%= link_to perros_posts_path do %>
    <i class="fa fa-paw" aria-hidden="true"></i> Lee sobre perros
  <% end %>
</li>

<li id="videojuegos">
  <%= link_to videojuegos_posts_path do %>
    <i class="fa fa-gamepad" aria-hidden="true"></i> Lee sobre videojuegos
  <% end %>
</li>
